body { 
    background-color:#E1E1EF;
}
.continut{
    opacity:0% ;
}

#bara{
    position:absolute;
    margin-top: 0px;
    left:0px;
    top:0px;
    bottom:0px;
}
.s1{
    width:1450spx;
    height:850px;
    position:absolute;
    top:0px;
    left:0px;
    z-index: -3;
    
}